server:
  port: 8081

spring:
  application:
    name: application

  security:
    oauth2:
      resource-server:
        jwt:
          issuer-uri: http://auth-server:8080

  datasource:
    url: jdbc:postgresql://localhost:5432/financedb
    username: user
    password: password

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        ddl-auto: update

logging:
  level:
    org.springframework.web: DEBUG
    org.springframework.security: DEBUG